// VARIABLES
// Colors
$bg__y: #f8d887;
$bg__p: #f5b4b5;
$bg__b: #61c8e2;
$gray: #e6e6e6;
$gray--dark: #c8c8c7;
$black: #31312d;
$white: #fbf7f4;
$green: #63c2ac;

// Sizes
$space--sm: 2.5rem; //40px
$space--lg: 3.438rem; //55px
$space--xl: 4.375rem; //70px

// Font Sizes
$fs__base--sm: 1rem; //16px
$fs__base--lg: 1.188rem; //19px
$fs__h--sm: 1.25rem; //20px
$fs__h--lg: 1.5rem; //24px

//  Breakpoints
$lg: 62rem; //992px
$md: 37.5rem; //600px